In [299]:
from datetime import datetime
import time

import random
import pandas as pd
pd.options.display.max_colwidth = 100

import seaborn as sns
sns.set_theme(style="whitegrid")

In [251]:
test_dict = {4000000000: 'четыре миллиарда',
     1698254161: 'один миллиард шестьсот девяносто восемь миллионов двести пятьдесят четыре тысячи сто шестьдесят один',
     1210583147: 'один миллиард двести десять миллионов пятьсот восемьдесят три тысячи сто сорок семь',
     2419037229: 'два миллиарда четыреста девятнадцать миллионов тридцать семь тысяч двести двадцать девять',
     234730341: 'двести тридцать четыре миллиона семьсот тридцать тысяч триста сорок один',
     20147288: 'двадцать миллионов сто сорок семь тысяч двести восемьдесят восемь',
     1214987: 'один миллион двести четырнадцать тысяч девятьсот восемьдесят семь',
     3296573: 'три миллиона двести девяносто шесть тысяч пятьсот семьдесят три',
     988274: 'девятьсот восемьдесят восемь тысяч двести семьдесят четыре',
     539462: 'пятьсот тридцать девять тысяч четыреста шестьдесят два',
     129091: 'сто двадцать девять тысяч девяносто один',
     80090: 'восемьдесят тысяч девяносто',
     28535: 'двадцать восемь тысяч пятьсот тридцать пять',
     24534: 'двадцать четыре тысячи пятьсот тридцать четыре',
     21531: 'двадцать одна тысяча пятьсот тридцать один',
     12535: 'двенадцать тысяч пятьсот тридцать пять',
     12000: 'двенадцать тысяч',
     5654: 'пять тысяч шестьсот пятьдесят четыре',
     1361: 'одна тысяча триста шестьдесят один',
     986: 'девятьсот восемьдесят шесть',
     711: 'семьсот одиннадцать',
     500: 'пятьсот',
     135: 'сто тридцать пять',
     94: 'девяносто четыре',
     80: 'восемьдесят',
     55: 'пятьдесят пять',
     15: 'пятнадцать',
     12: 'двенадцать',
     11: 'одиннадцать',
     10: 'десять',
     4: 'четыре',
     1: 'один',
            }
# Функция для последующего пестирования
def get_test(num_to_words, test_dict = test_dict):     
    df_out = pd.DataFrame()    
    for n, w in zip(test_dict.keys(), test_dict.values()):
        df_out.loc[n, ['NumWord', 'Test']] = [num_to_words(n), test_dict[n]==num_to_words(n)]
    return df_out

In [211]:
# Слова в зависимости от цифр
i_d_dict = {
 1:'один',
 2:'два',
 3:'три',
 4:'четыре',
 5:'пять',
 6:'шесть',
 7:'семь',
 8:'восемь',
 9:'девять',
    
 10:'десять',
 11:'одиннадцать',
 12:'двенадцать',
 13:'тринадцать',
 14:'четырнадцать',
 15:'пятнадцать',
 16:'шестнадцать',
 17:'семнадцать',
 18:'восемнадцать',
 19:'девятнадцать',
    
 20:'двадцать',
 30:'тридцать',
 40:'сорок',
 50:'пятьдесят',
 60:'шестьдесят',
 70:'семьдесят',
 80:'восемьдесят',
 90:'девяносто',
    
 100:'сто',
 200:'двести',
 300:'триста',
 400:'четыреста',
 500:'пятьсот',
 600:'шестьсот',
 700:'семьсот',
 800:'восемьсот',
 900:'девятьсот',
 }

# Склонения
i_gr_dict = {
    3:['миллиард', 'миллиардов', 'миллиарда'],
    2:['миллион', 'миллионов', 'миллиона'],
    1:['тысяча', 'тысяч', 'тысячи'],
}

In [268]:
ad_space = lambda st: ' '+st if st!='' else st

def num_to_words(num):
    s_num = str(num)
    str_out = ''
    for i_gr, gr in enumerate([s_num[::-1][st:st+3] for st in range(0,len(s_num),3)]):
#         print('gr', gr[::-1])
        gr_str = ''
        int_gr = int(gr)
        last_n = ''
        for i, nu in enumerate(gr):
#             В случае если "0" пропускаем но записываем как последенее число
            if nu == '0': 
                last_n = '0'
                continue
#             Обработка крайне левого числа в группе
            if i==0:
                last_n = nu
                gr_str = i_d_dict[int(nu)]
                if i_gr==1: gr_str=gr_str.replace('один','одна').replace('два','две')
                last_n = nu
#             Случаи от 10 до 19
            elif i==1 and nu=='1':
                gr_str = i_d_dict[int(nu+last_n)]
                last_n = ''
#             Остальные числа
            else:
                gr_str = ad_space(gr_str)
                gr_str = f"{i_d_dict[int(nu)*10**i]}{gr_str}"
#         Если ничего не записано пропускаем
        if gr_str=='': continue
#         Случаи до 999 не имеют специального окончания
        if i_gr==0: 
            str_out = gr_str
        else:
            krt=1 # Склонение ранга числа по умолчанию (тысяч и т.д.)
#           Склонение рангов в зависимости от последней цифры
            if i_gr>=1:
                if last_n =='1': krt=0
                elif last_n in ('2', '3', '4'): krt=2                
#             Объединение групп
            str_out = ad_space(str_out)
            str_out = f"{gr_str} {i_gr_dict[i_gr][krt]}{str_out}"
        
    return str_out

'десять'

## Тестирование

In [269]:
# Проверка на тестовом наборе
test_df = get_test(num_to_words)
test_df

,NumWord,Test
4000000000,четыре миллиарда,True
1698254161,один миллиард шестьсот девяносто восемь миллионов двести пятьдесят четыре тысячи сто шестьдесят ...,True
1210583147,один миллиард двести десять миллионов пятьсот восемьдесят три тысячи сто сорок семь,True
2419037229,два миллиарда четыреста девятнадцать миллионов тридцать семь тысяч двести двадцать девять,True
234730341,двести тридцать четыре миллиона семьсот тридцать тысяч триста сорок один,True
20147288,двадцать миллионов сто сорок семь тысяч двести восемьдесят восемь,True
1214987,один миллион двести четырнадцать тысяч девятьсот восемьдесят семь,True
3296573,три миллиона двести девяносто шесть тысяч пятьсот семьдесят три,True
988274,девятьсот восемьдесят восемь тысяч двести семьдесят четыре,True
539462,пятьсот тридцать девять тысяч четыреста шестьдесят два,True
129091,сто двадцать девять тысяч девяносто один,True
80090,восемьдесят тысяч девяносто,True
28535,двадцать восемь тысяч пятьсот тридцать пять,True
24534,двадцать четыре тысячи пятьсот тридцать четыре,True
21531,двадцать одна тысяча пятьсот тридцать один,True
12535,двенадцать тысяч пятьсот тридцать пять,True
12000,двенадцать тысяч,True
5654,пять тысяч шестьсот пятьдесят четыре,True
1361,одна тысяча триста шестьдесят один,True
986,девятьсот восемьдесят шесть,True
711,семьсот одиннадцать,True
500,пятьсот,True
135,сто тридцать пять,True
94,девяносто четыре,True
80,восемьдесят,True
55,пятьдесят пять,True
15,пятнадцать,True
12,двенадцать,True
11,одиннадцать,True
10,десять,True
4,четыре,True
1,один,True

In [ ]:
i_max = 4*10**9
test_ser = pd.DataFrame(columns=['n','t'], 
#                         dtype=[int, 'timedelta64[ns]']
                       )
for n in range(0, i_max, 99997):
    dt_s = datetime.now()
    num_to_words(i_max)
    test_ser.loc[n] = n, pd.to_timedelta(datetime.now() - dt_s).total_seconds()
#     if n>=400000: break

test_ser

In [ ]:
sns.lmplot(data=test_ser, x ='n', y='t',
           scatter_kws={"s": 20},
            height=5, 
            aspect=6
           )